.app {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr 150px;
}

.item.one {
    background-color: #000;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.item.two {
    grid-area: 1 / 1 / 4 / 2;
    background-color: blue;
}